{{ define "main" }}
{{ $headless := .Site.GetPage "/section" }}
{{ $sections := $headless.Resources.ByType "page" }}

<nav class="navbar" role="navigation" aria-label="main navigation" id="main-nav">
  <div class="container">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="main-navbar-menu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="main-navbar-menu" class="navbar-menu">
    <div class="navbar-start">
      {{ range where $sections ".Params.scroll_indicator" "eq" true }}
      <a class="navbar-item" href="#{{ .Title  | urlize }}">
        {{ .Title }}
      </a>
      {{ end }}
    </div>
    <div class="navbar-end">
      {{ range where .Site.Pages ".Params.in_menu" "eq" true   }}
      <a class="navbar-item" href="{{ .Permalink }}">
        {{.Title}}
      </a>
   
      {{end}}
    </div>
  </div>
</div>
</nav>

<div class="columns">
  <div class="column">
    {{ range $index_val, $elem_val := $sections }}
    <section class="section" id="{{ .Title  | urlize }}">
      <div class="container">
        <article 
          class="content-area">
          <h1 class="title">{{ .Title }}</h1>
          <div class="content">{{ .Content }}</div>

        </article>
      </div>
    </section>
    {{ end }}
  </div>
</div>

{{ end }}