{{ define "main" }}
{{ $headless := .Site.GetPage "/homepage" }}
{{ $sections := $headless.Resources.ByType "page" }}

<header class="hero is-primary has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">
        Lex Æterna
      </h1>
      <h2 class="subtitle">
        The eternal battle
      </h2>
    </div>
  </div>
</header>


<div class="columns">
  <div class="column is-1">
    <article class="panel is-primary fixed">
      <p class="panel-heading">
        Lex Æterna
      </p>
    <aside class="menu ">
      <ul class="menu-list">
        {{ range where $sections ".Params.header_menu" "eq" true }}
        <li><a href="#sec-{{ .Title  | lower }}">{{ .Title }}</a></li>
      
        {{ end }}
      
      </ul>
    </aside>
  </article>
  </div>
  <div class="column">
    {{ range $index_val, $elem_val := $sections }}
    <section class="section">
      <div class="container">
        <article
          id="sec-{{ .Title  | lower }}"
          class="content-area {{ if eq $index_val 0 }}first{{ else }}{{ if eq (add $index_val 1) (len $sections) }}last{{ end }}{{ end }}">
          <h1 class="title">{{ .Title }}</h1>
          <div class="content">{{ .Content }}</div>

        </article>
      </div>
    </section> 
  {{ end }}
  </div>
</div>

{{ end }}