<div class="columns is-multiline">
  {{ range $.Site.Data.game.monsters.starters }}
  <div class="column is-3">
    <div class="card element--{{.Element | lower}}">
      <div class="card-image">
        <figure class="no-ma  image is-fullwidth">
          <img src="public/elements/{{.Element | lower}}.png">
        </figure>
      </div>
      <div class="card-content">
        <article class="media">
          <div class="media-content">
              <h3>{{ .Name }}</h3>
              <small> {{ .Element}}</small>
          </div>
        </article>
      </div>

    </div>
  </div>
  {{ end }}
</div>