{{ range $.Site.Data.game.spells.spells }}
<div class="card element--{{.Element | lower}}">
<div class="card-content">
<article class="media">
    <div class="media-left image is-64x64 ">
        <img src="public/elements/{{.Element | lower}}.png">
    </div>
    <div class="media-content">
        <div class="content">
            <h3> {{ .Name }}            </h3>
            <p>
                         
           
               
            </p>
            <em>{{.Special}}</em>
        </div>

    </div>
    <div class="media-right has-text-right">
        {{.Stamina}}
        <br>
        {{.Type}}
    </div>
</article>
</div>
</div>
{{ end }}