{{ range $.Site.Data.game.spells.spells }}
<article class="media">
    <figure class="media-left image is-64x64">
        <img src="/public/elements/{{.Element | lower}}.png">
        <small>     {{.Element}}</small>
    </figure>
    <div class="media-content">
        <div class="content">
            <h3> {{ .Name }}            </h3>
            <p>
                         
           
               
            </p>
            <em>{{.Special}}</em>
        </div>

    </div>
    <div class="media-right">
        {{.Stamina}}
        <br>
        {{.Type}}
    </div>
</article>
{{ end }}